#
# Created by Moloko (2025)
# GitHub https://github.com/levrules/mod-guild-system
#

[worldserver]



###########################################################################################
#
#   TOKEN ITEN REWARD
#
###########################################################################################

# SETTINGS
# 
#   TokenDebug.Enable - debug trace
#           0 - disabled
#           1 - enabled
#   default: 0 (enabled)
#

TokenDebug.Enable = 0